# These environment variables will be passed to the web app container when using docker-compose

DATABASE_URL=file:/data/sqlite.db

# Add a random value with a good enough pseudorandom number generator. An alternative is to use node's crypto module
# by running below script in your shell:
# node -e "console.log(crypto.randomBytes(16).toString(\"hex\"))"
# SESSION_SECRET=
